.w-100 {
  height: calc(100vh - 100px) !important;
}

.carousel-inner__caption { 
  background-color: #f2f2f2;
  color: #000 !important;
}

.carousel-inner__caption h5 {
  font-size: 35px;
  font-family: 'Comfortaa';
}