header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}
.header__logo_size {
  width: 220px;
}
menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  width: 500px;
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
