header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  padding: 0 35px;
}
.header__logo_size {
  width: 220px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 500px;
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.footer__contact a, .footer__menu a {
  color: #fff;
  text-decoration: none;
}
.footer__contact a:hover, .footer__menu a:hover {
  color: #f2f2f2;
  text-decoration: underline #fff;
}

.header__menu a, .header__contact a {
  color: #000;
  text-decoration: none;
}


main {
  padding-top: 100px;
}
.section {
  padding: 25px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #333;
  color: #fff;
  padding: 50px 35px;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 500px;
}


/* Pages */
.app__title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 25px;
}
.app__title::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 4px;
  background-color: #54cd7d;
}

.about__text {
  margin-top: 50px;
  width: 70%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.products__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}
.contacts__form {
  width: 50vw;
  padding: 25px 35px;
}
.contacts__info {
  width: 50vw;
  padding: 25px 35px;
}
.contacts__info__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}